/* ================ Start Middle ===============*/
#middle{
    margin-bottom:10px;
}

#slider {
    float: left;
}

#advertising {
    float: right;
}
/* ================ End Middle ===============*/
